object {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in; 
    -o-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in; 
    transition: all 1s ease-in; 
    transform-box: fill-box;
    transform-origin: 50% 50%;
}


.rowMenu {
    display: flex;
}

.blockMenu {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 25px;
    font-family: existencestencil_light;
    font-weight: 800;
    background-color: #00000011;
    color: #2f4a2f;
    border: solid 1px #00000044;
    margin: 20px;
}