:host ::ng-deep {
    .compTableWrapper{
        display: flex;
        justify-content: center;
        margin-bottom:20px;
        margin-top: 20px;
    }
}

.sommaire {
    position: fixed;
    left: 30px;
    background-color: #e7f7f7;
    border: solid 1px #00000054;
    padding: 5px 20px 0px 0px;
    a{
        cursor: pointer;
    }
}