<section>
    <div class="sommaire">
        <ul>
            <li>
                <a (click)="goto(' #principeAlgo')">Algorithmique</a>
                <ul>
                    <li>
                        <a (click)="goto(' #principeAlgo')"> Principe </a>
                    </li>
                    <li>
                        <a (click)="goto(' #competitionAlgo')"> Compétition </a>
                    </li>
                    <li>
                        <a (click)="goto(' #entrainementAlgo')"> Entrainement </a>
                    </li>
                </ul>
            </li>
            <li>
                <a (click)="goto(' #principeOptimisation')"> Optimisation </a>
                <ul>
                    <li>
                        <a (click)="goto(' #principeOptimisation')"> Principe </a>
                    </li>
                    <li>
                        <a (click)="goto(' #competitionOptimisation')"> Compétition </a>
                    </li>
                    <li>
                        <a (click)="goto(' #entrainementOptimisation')"> Entrainement </a>
                    </li>
                </ul>
            </li>
            <li>
                <a (click)="goto(' #principeBotProgramming')"> Bot Programming </a>
                <ul>
                    <li>
                        <a (click)="goto(' #principeBotProgramming')"> Principe </a>
                    </li>
                    <li>
                        <a (click)="goto(' #competitionBotProgramming')"> Compétition </a>
                    </li>
                </ul>
            </li>
            <li>
                <a (click)="goto(' #principeCTF')"> CTF </a>
                <ul>
                    <li>
                        <a (click)="goto(' #principeCTF')"> Principe </a>
                    </li>
                    <li>
                        <a (click)="goto(' #entrainementCTF')"> Entrainement </a>
                    </li>
                </ul>
            </li>
            <li>
                <a (click)="goto(' #competitionPuzzle')"> Puzzles </a>
            </li>
        </ul>

    </div>
    <div class="wrapperArticle">
        <div class="article">
            <h1 class="post-title ">
                Comparatif de sites de programmation compétitive
            </h1>

            <div class="blockArticle">
                Un petit article pour donner un aperçu de l'horizon de la programmation compétitive.
            </div>
            <div>
                Ce classement est purement subjectif, et n'est donc pas à prendre comme une vérité absolue, vous êtes
                donc
                conseillés à
                faire de vous même une opinion sur ces différents sites.
            </div>
            J'ai partagé cet article en 4 principales catégories:
            <ul>
                <li>Les compétitions algorithmiques</li>
                <li>Les compétitions d'optimisation</li>
                <li>Les compétitions de bot programming</li>
                <li>Les CTF (compétitions de cyber sécurité)</li>
            </ul>
            <div class="blockArticle">
                J'ai principalement de l'expérience dans le premier domaine, et suis également fortement intéressé par
                la
                deuxième
                et la quatrième catégories. Le comparatif sera donc à prendre avec des pincettes principalement pour les
                3
                autres
                catégories (surtout les 2 dernières).
            </div>
            <div class="blockArticle">
                Note: Une grande partie des mots / expressions ont une définition associée pour rendre la lecture plus
                aisée.<br />
                Pour la dévoiler, il suffit de passer le curseur sur un mot / une portion de phrase.
            </div>
            <h2> Description des colonnes:</h2>

            <ul>
                <li> <em>Themes:</em></li>
                <ul>
                    <li> Le <em>type de problème</em> qui reviennent le plus souvent / les plus représentatifs de la
                        plateforme</li>
                </ul>
                <li> <em>Qualité:</em></li>
                <ul>
                    <li> <em>Originalité</em> (est-ce un problème déjà vu sur d'autres sites)</li>
                    <li> <em>Intérêt</em> (solution élégante, notions réutilisables)</li>

                    <li> La solution attendue est "<em>mathématiquement rigoureuse</em>" (complexité prouvable en
                        accord
                        avec les
                        contraintes, pas
                        d'intuition sans démonstration)
                    </li>

                </ul>
                <li> <em>UI:</em></li>
                <ul>
                    <li> Site <em>intuitif</em></li>
                    <li> Exempt de bugs</li>
                    <li> Navigation simple</li>
                </ul>
                <li> <em>Accesible aux débutants:</em></li>
                <ul>
                    <li> Difficulté des problèmes les plus simples abordable</li>
                    <li> <em>Progression guidée</em> (tutoriels, catégories de difficulté)</li>
                </ul>

                <li> <em>Fréquence:</em></li>
                <ul>
                    <li> La fréquence des concours <b>SIGNATURES</b> en moyenne . Ne prend pas en compte les concours
                        "hébergés"
                        (codechef,
                        hackerearth...).</li>
                </ul>
            </ul>






            <h2> Compétition algorithmiques:</h2>

            <h3 id="principeAlgo"> Principe</h3>
            <div class="blockArticle">
                Ces concours consistent en un set de problème de thématiques variés, pour lesquels doivent être
                développés
                un code:
                <ul>
                    <li>
                        Le code prend <em>en entrée les données du problèmes</em>
                    </li>
                    <li>
                        Renvoie <em>en sortie la solution de ce problème</em>
                    </li>
                </ul>
                <br />
                Pour vérifier la validité de votre code, celui-ci devra passer une énorme batterie de tests, écartelant
                et
                torturant
                votre algorithme pour le pousser dans ses retranchements.
            </div>

            <h3> L'odysée du disciple</h3>

            Si vous débutez en algorithmique, je vous conseille de découvrir le domaine de cette façon:
            <ul>
                <li> Commencez par <em>France-ioi</em>, qui propose des catégories de problèmes progressives, ainsi que
                    des
                    tutoriels
                    interactifs
                    pour découvrir un langage. Les ressources sont de qualité, notamment du fait que celui-ci est géré
                    par
                    l'organisation
                    qui s'occupe de l'entrainement de l'équipe française des olympiades d'algorithmiques (IOI).
                </li>
                <li>
                    Après avoir quelques bases, continuez avec <em>Prologin</em> et <em>Codeforces</em> (entrainement
                    et /
                    ou concours),
                    pour vous
                    essayer à des problèmes moins guidés
                </li>
                <li>
                    Si vous avez la fibre mathématique, Project Euler pourra vous plaire
                </li>
                <li>
                    Plus dur, mais légendaires, les concours annuels <em>Google Code Jam</em>, <em>Facebook Hacker
                        Cup</em>
                    et dans un
                    autre
                    registre <em>ISPCS</em>
                    pourront intéresser les plus motivés
                </li>
            </ul>
            Et surtout le plus important, <em>amusez-vous</em>! Ne tombez pas dans le piège de viser à tout prix un
            classement / un
            rating particulier,
            appréciez plutôt l'ébullition neuronale et la découverte de nouvelles choses.

            <h3 id="competitionAlgo"> Concours</h3>
            <div class="compTableWrapper">
                <table id="contestAlgo" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Themes</th>
                            <th>Variété</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                            <th>~Durée moyenne</th>
                            <th>~Fréquence</th>
                            <th>Divisions</th>
                            <th>Hacks</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Themes</th>
                            <th>Variété</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                            <th>~Durée moyenne</th>
                            <th>~Fréquence</th>
                            <th>Divisions</th>
                            <th>Hacks</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <h3 id="entrainementAlgo"> Entrainement</h3>
            <div class="compTableWrapper">
                <table id="trainingAlgo" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Themes</th>
                            <th>Variété</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Themes</th>
                            <th>Variété</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <h2> Optimisation</h2>

            <h3 id="principeOptimisation"> Principe</h3>

            Contrairement aux concours algorithmiques, il n'existe <em>pas de solution "parfaite"</em> au problème
            auquel
            vous vous
            confrontez:

            Le problème est bien trop complexe pour qu'il soit possible d'explorer toutes les solutions et trouver la
            meilleur
            <ul>
                <li>
                    Vous allez donc devoir ruser, et trouver la <em>meilleure solution possible</em>, et dans les délais
                    impartis
                </li>
            </ul>

            Pour cela, vous pourrez utiliser un large éventail de techniques:
            <ul>
                <li>
                    Résolution optimales de sous-problèmes
                </li>
                <li>
                    Exploration ciblée / avec élagages
                </li>
                <li>
                    Heuristiques, adaptées ou non aux différentes entrées
                </li>
                <li>
                    Outils de type solvers
                </li>
            </ul>

            <h3> L'aventure de l'élève</h3>

            Il est préférable d'avoir quelques bases en algorithmie classique pour s'attaquer à de l'optimisation. En
            effet, les
            problèmes
            les plus "simples" que vous pourriez y rencontrer nécessiteront bien souvent un code assez conséquent, en
            terme de
            volume et
            d'intuition.

            Pour commencer, il me semble préférable de procéder ainsi:
            <ul>
                <li>
                    D'abord avec <b>Codingame</b>, qui propose une interface graphique très intuitive. Cela permet
                    également
                    d'avoir une
                    visualisation graphique de l'application de ses intuitions / de son algorithme sur de réelles
                    données.
                </li>
                <li>
                    Un petit peu de <b>primers.xyz</b> pour avoir une plus vaste idée du type de problèmes que l'on
                    peut
                    rencontrer
                </li>
                <li>
                    Et pour finir, on attaque les gros morceaux: <b>Azspcs</b> pour ceux qui aiment les mathématiques,
                    <b>Topcoder</b> pour ceux
                    qui aiment
                    la géométrie et les graphes (si vous rencontrez des difficultés avec le site, abandonnez et revenez
                    tous les
                    4 mois en
                    priant que
                    ce site soit enfin redevenu décent)
                </li>
                <li>
                    La version optimisation des concours légendaires : <b>Google Hash Code</b>
                </li>
            </ul>

            <h3 id="competitionOptimisation"> Compétitions</h3>
            <div class="compTableWrapper">
                <table id="contestsOpti" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Themes</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                            <th>~Fréquence</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Themes</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                            <th>~Fréquence</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <h3 id="entrainementOptimisation"> Entrainement</h3>
            <div class="compTableWrapper">
                <table id="trainingOpti" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Themes</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Themes</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <h2> Bot Programming</h2>

            <h3 id="principeBotProgramming"> Principe</h3>
            <div class="blockArticle">
                <em>Alpha-Go</em>, <em>Stockfish</em>, <em>AlphaStar</em> (Starcraft) ... <br />Ces noms émoustillent
                votre
                curiosité
                intellectuelle et font
                émerger un désir
                de construire votre propre IA à détruire de la chair humaine sur le champs de bataille d'un jeu?
                <br />
                Et bien vous avez (presque) lu les bons pixels, puisque les concours de bot programming consiste
                justement à
                coder une
                IA.<br />
                Mais à défaut de se battre contre la basse populace que représente l'humain, votre IA affrontera
                d'autres
                IA.
            </div>

            Les techniques utilisées ont beaucoup de choses en commun avec les challenges d'optimisation:
            <ul>
                <li>
                    Ici aussi il n'existe <em>pas de solution parfaite</em>
                </li>
                <li>
                    De l'exploration de solutions, <em>stochastiquement</em>
                </li>
                <li>
                    Des <em>heuristiques</em>, des <em>constantes magiques</em>
                </li>
            </ul>
            Mais le plus fun dans tout ça, c'est que vous n'aurez pas à imaginer les matchs de vos IA à partir des
            résultats: vous
            pouvez
            les regarder en live, comme vous regarderiez un stream Twitch, avec du skill en plus.

            <h3> L'errance du noob</h3>

            Même principe que pour les challenges d'optimisation: ce genre de concours nécessitent d'avoir une assez
            bonne maîtrise
            de son
            langage et des algorithmes de base (parcours de graphe, tris, intuitions logiques).

            Il existe très peu de sites de ce genre de concours:
            <ul>
                <li>
                    <b>Codingame</b> est encore une fois le meilleur choix pour débuter, et ce pour les mêmes raisons
                    que
                    pour
                    les challenges
                    d'optimisation (UI intuitive...).<br />
                    De plus, <b>Codingame</b> est bien plus varié: il y a beaucoup de concours de ce type, et
                    possibilité de
                    jouer
                    aux
                    précédents jeux.
                    La communauté est très active et partage après
                    concours les idées qu'ils ont pu avoir.
                </li>
                <li>
                    Je connais assez mal les autres sites, mais <b>Halite</b> et <b>BattleCode</b> sont dotés d'une
                    solide
                    réputation dans le
                    domaine.
                    <br />
                    Il est par contre plus compliqué de tester et coder sa première IA (pas d'éditeur en ligne,
                    utilisation
                    d'API /
                    structure spécifique).
                </li>
            </ul>
            <h3 id="competitionBotProgramming"> Contests</h3>
            <div class="compTableWrapper">
                <table id="contestsBot" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                            <th>~Fréquence</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                            <th>~Fréquence</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <h2> Ctf</h2>

            <h3 id="principeCTF"> Principe</h3>

            Les Ctf sont des concours axés sur le terme de la cybersécurité.
            Il s'agit de trouver et exploiter des failles dans des codes, des systèmes, des sites ou autres, pour
            trouver un message
            caché qui permet de valider le challenge.
            <br />
            Mais il ne s'agit pas que de ça: les thématiques abordées sont très nombreuses, et englobent une vaste
            étendue de
            compétences:
            <ul>
                <li>
                    <em>Cryptography</em>: Vous avez en entrée des données encryptées, qu'il faut décrypter.
                </li>
                <li>
                    <em>Steganography</em>: Lul
                </li>
                <li>
                    <em>Reverse</em>: Un code / un binaire en entrée, vous devez comprendre comment celui-ci fonctionne,
                    pour
                    en
                    trouver la
                    faille.
                </li>
                <li>
                    <em>Web</em>: Trouver une faille dans un site web
                </li>
                <li>
                    <em>Forensics</em>: Analyse de logs, d'un ensemble de fichiers pour en extraire des informations
                    exploitables
                </li>
                <li>
                    <em>Hardware</em>: Exploitation de données de protocoles hardwares, analyse de circuits
                    électroniques
                </li>
                <li>
                    <em>Misc</em>: Puzzle de culture, de recherche générale.
                </li>
                <li>
                    <em>Algorithm</em>: Puzzles algorithmiques, parfois appliqués à la sécurité
                </li>
            </ul>

            <h3> Le périple du jeune scarabée</h3>

            Je m'inspire d'experts en la matière pour vous donner un exemple de progression, étant moi-même au début de
            ce chemin:
            <ul>
                <li>
                    <b>Root-me</b> et <b>Overthewire</b> pour découvrir les principes de base
                </li>
                <li>
                    Faire ensuite des CTF et continuer à s'entraîner sur <b>pwnable.tw</b>
                </li>
                <li>
                    Le reste c'est du bruit :p
                </li>
            </ul>
            <h3 id="entrainementCTF"> Entrainement</h3>
            <div class="compTableWrapper">
                <table id="contestsCtf" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <h2> Puzzles (y'a pas que les bits dans la vie)</h2>
            <h3 id="competitionPuzzle"> Contests</h3>
            <div class="compTableWrapper">
                <table id="contestsPuzzle" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                            <th>~Fréquence</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Favori</th>
                            <th>Url</th>
                            <th>Qualité</th>
                            <th>UI</th>
                            <th>Accessible aux débutants</th>
                            <th>~Fréquence</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</section>