<section>
    <div class="wrapperArticle">
        <div class="article">
            <h1 class="post-title ">
                Advent of code 2020 (jours 1 à 2)
            </h1>
            <div class="blockArticle">
                <h3 id="introduction">Hello tout le monde!</h3>
                Cet article est (en théorie) le premier d'une longue série, qui est destinée à couvrir les solutions et
                explications des différents jours de l'<a href="https://adventofcode.com/2020/">advent of code</a>.
                <br /><br />
                J'irai droit à l'essentiel concernant la description des problèmes, et ne donnerai donc pas
                l'intégralité de l'histoire.
                Si celle-ci vous intéresse, chaque jour sera accompagné d'un lien pour accéder à l'énoncé sur le site
                officiel.
                <br /><br />
                L'<a href="https://adventofcode.com/2020/">advent of code</a> est un challenge qui propose
                quotidiennement un problème d'algorithmique, que l'on peut
                résoudre de la façon qu'on veut (n'importe quel langage / outil ...), la vérification se faisant en
                effet uniquement via la soumission d'une valeur / d'une chaîne de caractère répondant au problème.
                <br /><br />

            </div>
            <div>
                <h2 id="day1_part1"><a href="https://adventofcode.com/2020/day/1">Jour 1, partie 1:</a></h2>
                <br />
                <h3 id="day1_part1_statement"> Enoncé </h3>

                Le premier problème consiste à trouver dans une liste de nombres, deux nombres différents de telle sorte
                que la somme de ces deux derniers donnent 2020. Ces deux nombres doivent ensuite être multipliés pour
                obtenir la valeur à soumettre.
                <br /><br />
                <h3 id="day1_part1_solution_naive"> Solution Naïve </h3>
                Une première solution naïve consiste simplement à itérer sur chaque pair d'éléments.
                <br />
                Cette solution donne une complexité de <code>O(N²)</code> qui était largement suffisante au vu de la
                taille des
                entrées.
                <br /><br />
                <pre class="line-numbers language-python"><code>import sys

lines = open('input1.txt')
values = [int(line) for line in lines]
for i in range(len(values)):
    # i+1 nous permet d'optimiser légèrement,
    # pour éviter de tester dans les deux sens les paires (a,b) et (b,a)
    # Egalement, en commençant à i+1, on évite implicitement de prendre des paires de la forme (a,a)
    for j in range(i+1, len(values)):
        a, b = values[i], values[j]
        if(a+b == 2020):
            print(a*b)
            sys.exit(0)
                    
                </code></pre>

                <h3 id="day1_part_1_other_solutions">Solution avec tri</h3>
                Une autre solution pouvait consister à trier la liste des valeurs.
                <br />
                Grâce à ce tri initial, on pouvait obtenir deux autres solutions, mais ces deux solutions reposent sur
                le même principe:
                <br /><br />

                Itérer sur la liste, et pour chaque valeur V, vérifier si la valeur <code>2020 - V</code> existe dans la
                liste.


                <h4 id="day1_part_1_other_solutions_dichotomie">Solution par dichotomie</h4>

                Une première possibilité serait simplement de faire une recherche dichotomique dans la liste.
                <br />

                Une recherche dichotomique (ou binaire) consiste en une recherche sur intervalle que l'on réduit de plus
                en plus jusqu'à obtenir un intervalle de taille 1 qui contient la solution.
                <br /><br />

                Ici, comme on a une liste triée, si l'on prend un élément <code>V2</code> au hasard dans la liste et que
                celui-ci est
                plus petit que <code>2020-V</code>, on sait d'avance que tous les éléments avant seront forcéments
                également
                inférieurs à <code>2020-V</code>, et donc ne nous intéressants pas. On peut donc restreindre
                l'intervalle de
                recherche aux éléments après <code>V2</code>.
                <br />

                Inversement, si <code>V2</code> est supérieur, tous les éléments après <code>V2</code> sont forcément
                trop grands. De la même
                façon, on restreint l'intervalle de recherche aux éléments avant <code>V2</code>.
                <br />

                Bien entendu, si <code>V2</code> est égal à <code>2020-V</code>, alors on a trouvé une paire
                <code>(V2,V)</code> de
                telle sorte que <code>V+V2 ==
                2020</code>, on peut donc couper court à la dichotomie.
                <br /><br />
                Si à la place de prendre cet élément <code>V2</code> complètement au hasard, et qu'on prend celui-ci au
                milieu de
                l'intervalle courant, on réduit à chaque itération de moitié l'intervalle de recherche.
                <br /><br />

                Si <code>N</code> est la taille de l'intervalle initiale, on aura donc un intervalle de taille
                <code>N/2</code>, puis
                <code>N/4</code>, <code>N/8</code>
                etc... jusqu'à ce que <code>N/(2^x) = 1</code>, avec <code>x</code> le nombre d'itérations réalisées.
                <br />

                Or, <code>N/(2^x) = 1 &lt;=&gt; N = 2^x &lt;=&gt; x = log2(N)</code>.
                <br />

                D'où la complexité de <code>O(log N)</code>.
                <br /><br />

                Comme on réalise cette dichotomie dans le pire des cas pour chaque valeur <code>V</code> de la liste, on
                a donc une
                complexité globale de <code>O(N log N)</code>.

                <div style="text-align:center;">
                    <img style="width:500px" src="assets/img/Dichotomie.png" />
                </div>
                <br /><br />
                <pre class="line-numbers language-python"><code>import sys
lines = open('input1.txt')
values = [int(line) for line in lines]
values.sort()
for i in range(len(values)):
    V1 = values[i]
    limiteGauche, limiteDroite = 0, len(values)-1
    while(limiteGauche &lt; limiteDroite):
        milieu = (limiteDroite + limiteGauche)//2
        V2 = values[milieu]
        if(V2 &gt; 2020-V1):
            limiteDroite = milieu-1
        elif(V2 &lt; 2020-V1):
            limiteGauche = milieu+1
        else:
            limiteGauche = limiteDroite = milieu
    if(limiteGauche &lt; len(values)):
        V2 = values[limiteGauche]
        if(V1+V2 == 2020):
            print(V1*V2)
            sys.exit(0)
                </code></pre>

                <br /><br />
                <h4 id="day1_part_1_other_solutions_dichotomie">Solution avec deux pointeurs</h4>
                Une solution ressemblant un peu à celle que l'on vient de faire pourrait consister en l'utilisation de
                deux pointeurs sur la liste triée à l'intérieur de deux boucles imbriquées
                <br /><br />
                Le pointeur à gauche serait initialisé à <code>0</code> et le pointeur à droite à <code>N-1</code>.
                Le pointeur à gauche serait incrementé après chaque itération de la boucle externe, et la valeur pointée
                sera appellée <code>V1</code>.
                Le pointeur à droite, de manière similaire à ce que l'on faisait pour la dichotomie, a pour but de
                rechercher la valeur <code>2020 - V2</code>. Pour ce faire, on décrémente le pointeur de droite jusqu'à
                ce que la valeur pointée soit inférieure ou égale à <code>2020 - V2</code>.
                <br /><br />
                Dû au tri réalisé, les pointeurs ne sont déplacés que dans une unique direction. On a donc au maximum
                <code>N</code>
                déplacements vers la droite du pointeur de gauche (pour tester toutes les valeurs <code>V1</code>), et
                <code>N</code>
                déplacements vers la gauche du pointeur de droite (pour chercher les valeurs <code>2020-V1</code>).
                <br /><br />

                On a tout de même une complexité en O(N log N) et non O(N), dû au tri préalable nécessaire.
                <br /><br />

                On peut introduire une légère optimisation, pour ne pas continuer à boucler à partir du moment où le
                pointeur de gauche passe à droite du pointeur de droite, car, les tests qui seront faits ultérieurements
                correspondent à la symétrique des tests précédemment effectués.
                <br /><br />

                <pre class="line-numbers language-python"><code>import sys

lines = open('input1.txt')
values = [int(line) for line in lines]
values.sort()
droite = len(values)-1
for gauche in range(len(values)):
    while(droite &gt; gauche and values[droite] + values[gauche] &gt; 2020):
        droite -= 1
    if(values[droite]+values[gauche] == 2020):
        print(values[droite]*values[gauche])
        sys.exit(0)
                                    </code></pre>


                <h3 id="day1_part_1_hash">Solution avec hash</h3>

                Une dernière solution consiste à utiliser un tableau de booléen ou une structure de type hashage pour
                simplement stocker les différentes valeurs existantes et pouvoir accéder à celles-ci efficacement.
                <br /><br />
                On itère une première fois sur la liste pour remplir cette structure, puis on itère une seconde fois sur
                les différentes valeurs <code>V1</code>, en vérifiant que pour chacune de ces valeurs s'il existe
                <code>2020-V1</code> dans la structure préremplie.
                <br /><br />
                Si la structure utilisée présente un coût constant en mise à jour et lecture, la complexité passe donc à
                <code>O(N)</code>.
                <br /><br />

                <pre class="line-numbers language-python"><code>import sys

lines = open('input1.txt')
values = [int(line) for line in lines]
h = dict()
for v in values:
    h[v] = 1
for v in values:
    if(2020-v in h):
        print((2020-v)*v)
        sys.exit(0)</code></pre>
                <br /><br />

                <h2 id="day1_part1"><a href="https://adventofcode.com/2020/day/1">Jour 1, partie 2:</a></h2>
                <br />
                <h3 id="day1_part2_statement"> Enoncé </h3>

                La partie 2 du premier jour nous demandait de faire la même chose que pour la partie 1, mais avec 3
                éléments à la place de 2.
                <br />
                Comme pour la partie 1, il fallait ensuite retourner le produit de ces 3 éléments.

                <h3 id="day1_part2_solutions"> Solutions </h3>

                Je passerai rapidement sur les solutions de cette seconde partie, étant donné que ce sont les mêmes
                types de solutions que pour la partie 1.

                En effet, il suffit pour chacune des solutions précédentes d'ajouter une boucle pour itérer sur toutes
                les pairs <code>(V1,V2)</code>, et d'appliquer les différentes idées plus hauts pour trouver la valeur
                <code> 2020 -
                (V1+V2)</code>.

                On a donc :
                <ul>
                    <li>Pour la solution naïve: une complexité de <code>O(N^3)</code></li>
                    <li>Pour la solution à base de dichotomie: une complexité de <code>O(N^2 log N)</code></li>
                    <li>Pour la solution à base de hash: une complexité de <code>O(N^2)</code></li>
                    <li>Pour la solution avec 2 pointeurs: une complexité de <code>O(N^2)</code></li>
                </ul>

                Plot-twist! vous attendiez <code>O(N^2 log N)</code> pour la solution avec 2 pointeurs, n'est-ce
                pas?<br /><br />
                Mais rappelez-vous: le <code>log N</code> provenait du prétri, et non pas du processus de
                recherches.<br /><br />
                En l'occurence, après avoir fixé V1 et en itérant avec nos pointeurs, on aura bien
                <code>O(N^2)</code>.<br />
                Par la définition de la complexité, le <code>O(N log N)</code> est "absorbé" par le <code>O(N^2)</code>.

                <br /><br />
                <h2 id="day1_part1"><a href="https://adventofcode.com/2020/day/2">Jour 2, partie 1:</a></h2>
                <br />
                <h3 id="day1_part2_statement"> Enoncé </h3>

                Pour le second jour, nous avions une liste de contraintes et de passwords sous la forme suivante:

                [minimum]-[maximum] [caractère]: [password]

                Avec minimum et maximum deux valeurs entières.

                Pour la première partie, il fallait compter le nombre de passwords qui avaient au moins [minimum]
                occurences de [caractère] et au plus [maximum] occurrences.

                Par exemple, pour

                <pre class="line-numbers language-python"><code>1-3 a: abcdab</code></pre>

                abcdab remplit la condition d'avoir au moins 1 et au maximum 3 caractères 'a', vu qu'il en a 2.

                <h3 id="day1_part2_solutions"> Solutions </h3>

                Encore une fois, une solution naïve permet de résoudre ce problème sans aucune difficulté.<br />
                La difficulté venait essentiellement du parsing des entrées.<br /><br />

                Néanmoins, on pourra tout de même souligner deux types principales de solutions. <br />
                <br />

                Le premier type consiste simplement à itérer sur les passwords, et à compter le nombre d'occurences du
                caractère recherché.
                <br /><br />

                <pre class="line-numbers language-python"><code>import re

lines = open('input2.txt')
r = re.compile(r'([0-9]+)-([0-9]+) ([a-z]): ([a-z]+)')
res = 0
for line in lines:
    m = r.match(line)
    (minimum, maximum, car, password) = m.groups()
    minimum, maximum = int(minimum), int(maximum)
    compte = 0
    for i in range(len(password)):
        if(password[i] == car):
            compte += 1
    if(compte >= minimum and compte <= maximum):
        res += 1
print(res)
                    </code></pre>

                <br /><br />

                Le second type de solution plus élégant consiste à utiliser des fonctions spécifiques du langage pour
                compter automatiquement les occurences.

                <pre class="line-numbers language-python"><code>import re
                    
lines = open('input2.txt')
r = re.compile(r'([0-9]+)-([0-9]+) ([a-z]): ([a-z]+)')
res = 0
for line in lines:
    m = r.match(line)
    (minimum, maximum, car, password) = m.groups()
    minimum, maximum = int(minimum), int(maximum)
    compte = password.count(car)
    if(compte >= minimum and compte <= maximum):
        res += 1
print(res)</code></pre>
                <br /><br />


                <h2 id="day1_part1"><a href="https://adventofcode.com/2020/day/2">Jour 2, partie 2:</a></h2>
                <br />
                <h3 id="day1_part2_statement"> Enoncé </h3>

                La partie 2 change les règles de vérifications de password. <br />
                Ici aussi on doit compter le nombre de passwords qui répondent aux contraintes. Mais à la place de faire
                la vérification du nombre d'occurences, on doit considérer les contraintes sous la forme suivante:
                <br />
                <code>[idx1]-[idx2] [caractère]: [password]</code>
                <br />
                qui expriment qu'exactement un seul des deux caractères <code>password[idx1]</code> et
                <code>password[idx2]</code> est égal à
                <code>[caractère]</code>.
                <br /><br />

                <h3 id="day1_part2_solutions"> Solutions </h3>

                Ici, on a un simple problème de logique booléenne.
                <br />
                Très naïvement, on peut exprimer cette nouvelle contrainte ainsi:
                <br />
                <code> (password[idx1] == caractère et password[idx2] != caractère) ou (password[idx2] != caractère et password[idx1] == caractère) </code>
                <br /><br />

                On se rend compte que l'on peut exprimer ça de manière plus élégante en utilisant l'opérateur logique
                XOR (<code>a xor b = 1</code> si <code>a != b</code>, <code>a xor a = 0</code>):
                <br />
                <code> (password[idx1] == caractère xor password[idx2] == caractère) </code>
                <br />

                Il suffit ensuite de prendre la structure de la partie 1, et de changer nos vérifications.

                <br /><br />

                <pre class="line-numbers language-python"><code>import re

lines = open('input2.txt')
r = re.compile(r'([0-9]+)-([0-9]+) ([a-z]): ([a-z]+)')
res = 0
for line in lines:
    m = r.match(line)
    (idx1, idx2, car, password) = m.groups()
    idx1, idx2 = int(idx1), int(idx2)
    if((password[idx1-1] == car) ^ (password[idx2-1] == car)):
        res += 1
print(res)                    
</code></pre>
            </div>
        </div>
    </div>
</section>