<section>
    <div class="wrapperArticle">
        <div class="article">
            <h1 class="post-title ">
                Advent of code 2021 (jour 7)
            </h1>
            <div class="blockArticle">

                <h3 id="introduction">Hello tout le monde!</h3>
                Cet article fait partie d'une longue série, qui est destinée à couvrir les solutions et
                explications des différents jours de l'<a href="https://adventofcode.com/2021/">advent of code</a>.
                <br /><br />
                J'irai droit à l'essentiel concernant la description des problèmes, et ne donnerai donc pas
                l'intégralité de l'histoire.
                Si celle-ci vous intéresse, chaque jour sera accompagné d'un lien pour accéder à l'énoncé sur le site
                officiel.
                <br /><br />
                L'<a href="https://adventofcode.com/2021/">advent of code</a> est un challenge qui propose
                quotidiennement un problème d'algorithmique, que l'on peut
                résoudre de la façon qu'on veut (n'importe quel langage / outil ...), la vérification se faisant en
                effet uniquement via la soumission d'une valeur / d'une chaîne de caractère répondant au problème.
                <br /><br />

            </div>
            <div>
                <h2 id="day7_part1"><a href="https://adventofcode.com/2021/day/7">Jour 7, partie 1:</a></h2>
                <h3 id="day7_part1_statement"> Enoncé </h3>
                On a un ensemble de crabes à l'intérieur de sous-marins positionnés sur une ligne horizontale  
                avec leurs coordonnées.<br/><br/>

                A chaque moment, un crabe peut se déplacer vers la gauche ou vers la droite, pour le prix
                d'une unité de carburant. <br/>
                On souhaite minimiser le carburant total utilisé pour les regrouper en un seul même point.<br/>
                Le nombre d'unités de carburant consommés optimal est la solution à renvoyer.<br/><br/>

                Par exemple, si l'on a les crabes positionnées aux coordonnées suivantes:

                <pre class="line-numbers language-python"><code>1, 3, 6, 8, 9</code></pre>
                
                Alors, si l'on essaie toutes les positions entre la valeur minimale et maximale des coordonnées,
                on trouve que pour la position <b>6</b>, on a <b>13</b> unités de carburant à consommer, qui est la valeur
                optimale.

                <h3 id="day7_part1_solution"> Solution </h3>

                On a deux solutions possibles: 
                <ul>
                    <li>La solution naïve, qui itère sur chaque position</li>
                    <li>Une solution qui ne teste qu'une seule position</li>
                </ul>

                Pour la solution naïve, il suffit donc de tester chaque position dans l'intervalle <b>[min,max]</b>
                et de faire la somme des décalages entre les différents crabes et cette position.<br/><br/>

                Cette solution est en complexité <b>nbCrabes * tailleIntervalle</b>.
                
                <pre class="line-numbers language-python"><code>lines = open('input7.txt').read().split('\n')

crabes = list(map(int,lines[0].split(',')))

resultat = 1e8
for target in range(min(crabes),max(crabes)+1):
    somme = 0
    for crabe in crabes:
        somme += abs(target-crabe)
    resultat = min(resultat, somme)
print(resultat)</code></pre>


                Dans le cas de l'advent of code, les données étaient très petites, on pouvait donc itérer 
                très facilement, et c'est ce que j'avais fait sur le moment, pour éviter de perdre
                du temps avec une potentielle phase de debug.<br/><br/>

                Mais on peut faire bien mieux. <br/>
                On peut déjà avoir une intuition de ce qui se passe
                lorsque l'on parcoure les différentes positions possibles:
                <ul>
                    <li>Si l'on est entre <b>2</b> crabes:</li>
                    <ul>
                        <li>Si on a <b>X</b> crabes à gauche</li>
                        <li>Et donc <b>N - X</b> crabes à droite</li>
                        <li>Chaque déplacement de la position visée vers la droite d'une unité va augmenter le carburant 
                            nécessaire par <b>X</b>, et diminuer le carburant nécessaire par <b>(N-X)</b>.
                        </li>
                    </ul>
                </ul>

                <div style="text-align:center">
                    <img style="width:700px" src="assets/img/Crabs.png" />
                </div>

                On a donc tout intérêt à décaler la position visée vers la droite tant que <b>X &lt; N - X</b>.<br/>
                Le point d'équilibre est atteint quand on arrive à la <b>médiane</b> de notre liste, vu que l'on
                aura autant de crabes d'un côté que de l'autre.<br/>
                Notre solution est donc atteinte à la <b>médiane</b>.<br/><br/>

                Si la liste est <b>paire</b>, on aura <b>2</b> éléments constituant la <b>médiane</b>, et toutes les positions entre
                ces <b>2</b> éléments seront équivalentes, vu que l'on <b>augmentera</b> le carburant nécessaire d'<b>autant</b>
                qu'on le <b>diminuera</b>.<br/><br/>


                <pre class="line-numbers language-python"><code>lines = open('input7.txt').read().split('\n')

crabes = list(map(int,lines[0].split(',')))
crabes.sort()

resultat=0
mediane = crabes[len(crabes)//2]
for crabe in crabes:
    resultat += abs(crabe-mediane)
print(resultat)</code></pre>
<br/><br/>
                <h2 id="day7_part2"><a href="https://adventofcode.com/2021/day/7">Jour 7, partie 2:</a></h2>


                <h3 id="day7_part2_statement"> Enoncé </h3>
                Pour la seconde partie, on veut toujours grouper nos crabes en un certain point, mais le coût
                de déplacement des crabes augmente avec chaque step.<br/>

                Par exemple, si on a <b>2</b> crabes, <b>1</b> qui se déplace de <b>3</b> unités, et l'autre
                qui se déplace de <b>5</b> unités, alors le carburant total utilisé sera<br/>
                <pre class="line-numbers language-python"><code>(1+2+3) + (1+2+3+4+5) = 21</code></pre>

                <h3 id="day7_part2_solution"> Solution </h3>
                Pour cette seconde partie, je n'ai pas trouvé d'astuce particulière pour la position à cibler,
                je pars donc de la solution naïve de la partie 1 pour calculer tous les décalages possibles.<br/><br/>

                On peut par contre optimiser la partie calcul de consommation de carburant pour un crabe:<br/>
                Si un crabe doit se déplacer de <b>X</b> unités, plutôt que de calculer naïvement la somme
                <b>1+2+...+X</b>, on peut directement utiliser la valeur <b>X*(X+1)/2</b>.<br/><br/>

                Cette formule peut être retrouvée / intuitée très facilement. <br/>
                Je vais vous donner 2 exemples de manière de retrouver cette relation.<br/><br/>

                La première, géométrique:<br/>
                <ul>
                    <li>Si je dispose mes unités de manière pyramidale, de telle sorte d'avoir 1 puis 2 puis ... X
                        éléments par ligne
                    </li>
                    <li>
                        Si je retourne cette pyramide, et que je la fusionne de la façon suivante:
                    </li>
                </ul>

                <div style="text-align:center;margin-top:50px;margin-bottom:100px">
                    <img style="width:400px" src="assets/img/SommeEntiers.png" />
                </div>

                On a donc l'aire d'une seule pyramide qui est égale à <b>N*(N+1)/2</b>.<br/><br/>

                Une seconde façon de faire est de grouper les éléments par pair opposées (on peut faire un pairing
                équivalent dans le cas d'une liste impaire).<br/>
                <div style="text-align:center;margin-top:100px;margin-bottom:100px">
                    <img style="width:800px" src="assets/img/SommeEntiers2.png" />
                </div>

                Un code qui utiliserait cette propriété aurait la forme suivante:

                <pre class="line-numbers language-python"><code>lines = open('input7.txt').read().split('\n')

crabes = list(map(int,lines[0].split(',')))

resultat = 1e8
for targetPosition in range(min(crabes),max(crabes)):
    somme = 0
    for j in range(len(crabes)):
        N = abs(targetPosition-crabes[j])
        somme += (N*(N+1))//2
        resultat = min(resultat,somme)
print(resultat)</code></pre>


            </div>
        </div>
    </div>
</section>