/* You can add global styles to this file, and also import other style files */
@import '~katex/dist/katex.css';

@font-face {
    font-family: 'existencestencil_light';
    src: url('assets/fonts/existence-stencillight-webfont.woff2') format('woff2'),
         url('assets/fonts/existence-stencillight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
}

.constraintBlock {
    padding: 5px;
    background-color: #f1c3c3;
}

.objectiveBlock {
    padding: 5px;
    background-color: #fdeeb8;
}

.separator {
    width: 100%;
    height: -1px;
    border-top: #00000069 solid 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wrapperArticle {
    max-width: 1400px;
    text-align: center;
    box-shadow: -1px -1px 11px 1px;
    padding-top:30px;
    padding-left: 30px;
    padding-right: 30px;    
    background-color: white;
}

@media only screen and (max-width: 1399px) {
    .banniere {
        font-size:60px;
    }
}

@media only screen and (min-width: 1400px) {
    .wrapperArticle {
        padding-left: 100px;
        padding-right: 100px;
        margin-left: 300px;
        margin-right: 300px;
    }
    .banniere {
        font-size:80px;
    }
}

.banniere {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff3b6;
    background-position: center;
    text-align: center;
    font-family: existencestencil_light;
    font-weight: 800;
    a{
        color: #2f4a2f;
    }
    a:hover {
        color: #467d46;
        text-shadow: 0px 0px 0px;
        text-decoration: none;
    }
}

.sommaire {
    max-width: 250px;
    padding-right: 20px;
}


a:hover {
    text-shadow: 0px 0px 1px;
}


.article{
    text-align: justify;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


body {
    background-color:#fff3b6 !important;
    background-image: url(assets/img/banniere.png), url(assets/img/background.png);
    background-repeat: no-repeat, repeat;
}

.blockArticle {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 23px;
}

h1,h2,h3{
    font-weight:400;
}


h1{
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 15px;
}

h2{
    font-size:26px;
    margin-bottom: 15px;
    margin-top: 15px;
}

h3{
    font-size:18px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

#_oss_container{
    display: none;
}

code {
    background-color:  #e4dcdc9e;
}

@media only screen and (max-width: 1399px) {
    .sommaire {
        display:none;
    }
    pre[class*="language-"] {
        font-size: 0.75em !important;
    }
}